<a href="https://colab.research.google.com/github/ffeernando/SocialMediaBuyingExercise/blob/main/Shopping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [6]:
social = pd.read_csv('WhatsgoodlyData-6.csv')
social

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,None,947,0.354
...,...,...,...,...,...,...
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,None,492,0.412

Exploraremos informaciÃ³n general de nuestro dataFrame.

In [7]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             1450 non-null   object
 1   Segment Type         1450 non-null   object
 2   Segment Description  1450 non-null   object
 3   Answer               1450 non-null   object
 4   Count                1450 non-null   int64
 5   Percentage           1450 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 68.1+ KB

NÃºmero de filas.

In [19]:
social.shape[0]

1450

Verificamos si hay valores nulos.

In [18]:
social.isnull().values.any()

False

Contar el nÃºmero de preguntas diferentes.

In [21]:
social.Question.value_counts()

What social platform has influenced your online shopping most?    1450
Name: Question, dtype: int64

EstadÃ­sticos generales de los datos.

In [25]:
social.describe()

             Count   Percentage
count  1450.000000  1450.000000
mean     35.013793     0.199313
std      95.055604     0.274989
min       0.000000     0.000000
25%       0.000000     0.000000
50%       1.000000     0.063500
75%      20.000000     0.323750
max     947.000000     1.000000

Conozcamos mÃ¡s las columnas.

In [27]:
social["Segment Type"].value_counts()

University    870
Custom        560
Gender         10
Mobile          5
Web             5
Name: Segment Type, dtype: int64

In [28]:
social["Segment Description"].value_counts()

What's your major? Other        10
Global results                   5
you vote for? Donald Trump       5
Are you? Jewish                  5
Are you? None/Other              5
                                ..
University of New Hampshire      5
Cornell University               5
Boise State University           5
University of Michigan           5
Sexual orientation? Straight     5
Name: Segment Description, Length: 289, dtype: int64

In [29]:
social["Answer"].value_counts()

Facebook     290
Instagram    290
Snapchat     290
Twitter      290
None         290
Name: Answer, dtype: int64

De la columna "Segment Description", Â¿cuÃ¡ntas respuestas contienen la palabra University?

In [36]:
social[social["Segment Description"].str.contains("University") | social["Segment Description"].str.contains("university")]

,Question,Segment Type,Segment Description,Answer,Count,Percentage
20,What social platform has influenced your onlin...,University,University of Delaware,Facebook,1,0.333
21,What social platform has influenced your onlin...,University,University of Delaware,Instagram,1,0.333
22,What social platform has influenced your onlin...,University,University of Delaware,Snapchat,0,0.000
23,What social platform has influenced your onlin...,University,University of Delaware,Twitter,0,0.000
24,What social platform has influenced your onlin...,University,University of Delaware,None,1,0.333
...,...,...,...,...,...,...
885,What social platform has influenced your onlin...,University,Shippensburg University,Facebook,0,0.000
886,What social platform has influenced your onlin...,University,Shippensburg University,Instagram,0,0.000
887,What social platform has influenced your onlin...,University,Shippensburg University,Snapchat,0,0.000
888,What social platform has influenced your onlin...,University,Shippensburg University,Twitter,1,1.000
889,What social platform has influenced your onlin...,University,Shippensburg University,None,0,0.000

In [45]:
social[social["Segment Description"].str.contains("University") | social["Segment Description"].str.contains("university")]["Segment Description"].value_counts()

University of Delaware                5
University of California Riverside    5
University of Illinois                5
University of Washington              5
University of North Carolina          5
                                     ..
Tufts University                      5
Whatsgoodly University                5
University of Nebraska                5
University of Montana                 5
Shippensburg University               5
Name: Segment Description, Length: 137, dtype: int64

Se sugiere que hay columnas de Segment Type "University" y Segment Description "University of..."

In [44]:
social[social["Segment Type"].str.contains("University") & ~(social["Segment Description"].str.contains("University"))]

,Question,Segment Type,Segment Description,Answer,Count,Percentage
30,What social platform has influenced your onlin...,University,Students of New York,Facebook,0,0.000
31,What social platform has influenced your onlin...,University,Students of New York,Instagram,21,0.467
32,What social platform has influenced your onlin...,University,Students of New York,Snapchat,1,0.022
33,What social platform has influenced your onlin...,University,Students of New York,Twitter,5,0.111
34,What social platform has influenced your onlin...,University,Students of New York,None,18,0.400
...,...,...,...,...,...,...
855,What social platform has influenced your onlin...,University,UMass Amherst,Facebook,1,0.500
856,What social platform has influenced your onlin...,University,UMass Amherst,Instagram,1,0.500
857,What social platform has influenced your onlin...,University,UMass Amherst,Snapchat,0,0.000
858,What social platform has influenced your onlin...,University,UMass Amherst,Twitter,0,0.000
859,What social platform has influenced your onlin...,University,UMass Amherst,None,0,0.000

In [43]:
social[social["Segment Type"].str.contains("University") & ~(social["Segment Description"].str.contains("University"))]["Segment Description"].value_counts()

Students of New York                  5
College of William and Mary           5
Cal Poly San Luis Obispo              5
Hampden-Sydney College                5
Rochester Institute of Technology     5
UMass Dartmouth                       5
Claremont McKenna College             5
Illinois State                        5
Centre College                        5
Dartmouth College                     5
Blinn College                         5
Wellesley College                     5
Universidad Nacional de Costa Rica    5
United States Military Academy        5
Essex Technical High School           5
Pinnacle High School                  5
Baltimore City College                5
Gulf Breeze High School               5
Union High School                     5
Randolph-Macon College                5
Cypress Creek High School             5
Wisconsin HS                          5
Carthage College                      5
Richland High School                  5
Chaparral High School                 5
Colorado Academy                      5
United States Naval Academy           5
Kalamazoo College                     5
Medford High School                   5
Colby College                         5
Bates College                         5
Westport, CT                          5
Whitman College                       5
The College of New Jersey             5
Arbroath Academy                      5
Virginia Tech                         5
UMass Amherst                         5
Name: Segment Description, dtype: int64

Esto sugiere que nuestra hipÃ³tesis de que debe contener universidad en ambos era incorrecta.

Seguimos con el manual de AnÃ¡lisis Exploratorio de Datos